:root {
  --main-secondary-color: #22262a;
  --navigation-max-width: 200px;
  --footer-size: 1.5em;
}

body {
  margin: 0px;
}

.site {
  display: block;
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  margin-bottom: var(--footer-size);
}

pre {
  font-family: 'Rubik', sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

header {
  background-color: var(--main-secondary-color);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 10px;
}

header img {
  padding: 10px;
  width: 95px;
}

main {
  display: grid;
  grid-auto-rows: auto;
  padding: 0.3em;
}

h3 {
  margin-top: 0;
  line-height: 1.2;
}
h4 {
  color: rgb(149, 159, 160);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-block-end: 0.6em;
}

footer {
  background-color: var(--main-secondary-color);
  color: whitesmoke;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: var(--footer-size);
  width: 100%;
  text-align: right;
  vertical-align: middle;
  padding-top: 5px;
  font-size: small;
}

a#content-link,
a#contact {
  color: black;
  font-style: italic;
  text-decoration: none;
}

a#contact,
a#footer:link {
  font-weight: bold;
}

a#content-link:hover,
a#footer:hover,
a#contact:hover {
  color: rgb(149, 159, 160);

}

a#footer {
  color: whitesmoke;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  padding-right: 10px;
}

@media only screen and (min-width: 500px) {
  .site {
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'title title'
      'header main'
      'sidebar main';
  }

  header {
    grid-area: header;
    max-width: var(--navigation-max-width);
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2);

  }

  main {
    grid-area: main;
    grid-gap: 1em;
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'techMe shortMe '
      'recent recent '
      'contact sideProjects'
      'readingList links';
  }

  .techMe {
    grid-area: techMe;
  }

  .shortMe {
    grid-area: shortMe;
  }

  .links {
    grid-area: links;
  }

  .readingList {
    grid-area: readingList;
  }

  .sideProjects {
    grid-area: sideProjects;
  }

  .contact {
    grid-area: contact;
  }

  .recent {
    grid-area: recent;
  }
}

@media only screen and (min-width: 1000px) {
  .site {
    grid-template-columns: auto 1fr 4fr;

    grid-template-areas:
      'title title title'
      'header header main'
      'sidebar sidebar main';
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'techMe shortMe contact'
      'recent recent recent'
      'sideProjects readingList links';
  }
}