.site {
  display: block;
  font-family: "Rubik",
    sans-serif;
}

header {
  background-color: #22262a;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header img {
  width: 95px;
}

main {
  background-color: lightblue;
}

aside {
  background-color: #22262a;
  color: white;

}

h1 {
  background-color: navy;
  color: whitesmoke;
}

p {
  background-color: red;
}

footer {
  background-color: #22262a;
  color: whitesmoke;
}

a#footer:link {
  color: whitesmoke;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

a#footer:hover {
  color: gray;
}

@media only screen and (min-width: 500px) {
  .site {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 3fr 1fr;
    grid-template-areas: "title title"
      "header main"
      "sidebar main"
      "footer footer";
  }

  p {
    grid-area: main
  }

  footer {
    grid-area: footer;

  }

  h1 {
    grid-area: title;

  }

  header {
    grid-area: header;

  }

  main {
    grid-area: main;

  }
}

@media only screen and (min-width: 1000px) {
  .site {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "title title title"
      "header header main"
      "sidebar footer main";
  }

}