:root {
  --main-secondary-color: #22262a;
  --navigation-max-width: 200px;
}

.site {
  display: block;
  font-family: 'Rubik', sans-serif;
}

pre {
  font-family: 'Rubik', sans-serif;
}

header {
  background-color: var(--main-secondary-color);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

header img {
  padding: 10px;
  width: 95px;
}

main {
  background-color: lightblue;
}

aside {
  background-color: var(--main-secondary-color);
  color: white;
  padding: 10px;
}

h1 {
  background-color: navy;
  color: whitesmoke;
}

p {
  background-color: red;
}

footer {
  background-color: var(--main-secondary-color);
  color: whitesmoke;

  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 20px;
  width: 100%;
  text-align: right;
  vertical-align: middle;
  padding-top: 5px;
  font-size: small;
}

a#footer {
  color: whitesmoke;
  padding-right: 10px;
}
a#footer:link {
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

a#footer:hover {
  color: rgb(134, 120, 120);
}

@media only screen and (min-width: 500px) {
  .site {
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'title title'
      'header main'
      'sidebar main';
  }

  p {
    grid-area: main;
  }

  /* footer {
    grid-area: footer;
  } */
  aside {
    grid-area: sidebar;
    max-width: var(--navigation-max-width);
  }
  h1 {
    grid-area: title;
  }

  header {
    grid-area: header;
    max-width: var(--navigation-max-width);
  }

  main {
    grid-area: main;
  }
}

@media only screen and (min-width: 1000px) {
  .site {
    grid-template-columns: auto 1fr 4fr;
    grid-template-areas:
      'title title title'
      'header header main'
      'sidebar sidebar main';
  }
}
